<style onload="lookKeys()"></style>
<h1>注册码查看页面</h1>
<div>
    <!--ng-show里边的表达式为真时就会显示内容，反之则不显示-->
    <table class="table">
        <thead>
        <tr>
            <th>应用名称</th>
            <th>注册码</th>
            <th>注册码类型</th>
            <th>使用状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <form>
        <tr id = "lookKeys"></tr>

        </form>
        </tbody>
    </table>
</div>