<div >
    <!--ng-show里边的表达式为真时就会显示内容，反之则不显示-->
    <style onload="manKeys()"></style>
    <table class="table" >
        <thead>
        <tr>
            <th>订单编号</th>
            <th>应用名称</th>
            <th>注册码类型</th>
            <th>数量</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr id="manKeys" ></tr>
        </tbody>
    </table>
    <nav class="">
        <ul class="pagination" style="margin-top: 5px;">
            <li id ="page"></li>
        </ul>
    </nav>
</div>